.container{
    padding: 1rem 2rem;
    color: #FFF;
    font-family: poppins;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // transform: translate(-50%,-50%);
    // left: 50%;
    z-index: 10;

@media screen and (min-width:961px) {
    left: 10%;
}

    .contains{
        h2{
            font-size: 1.5rem;
            font-weight: 400;

            @media screen and (min-width:720px) {
                font-size: 3rem;
            }
            @media screen and (min-width:1056px) {
                font-size: 4rem;
            }
        }
        h1{
            font-size: 2rem;
            font-weight: 700;
            @media screen and (min-width:720px) {
                font-size: 3rem;
            }
            @media screen and (min-width:1056px) {
                font-size: 4rem;
            }
        }
        p{
            max-width: 100%;
            @media  screen and (min-width:965px) {
                max-width: 75%;
            }
            @media screen and (min-width:1056px) {
                font-size: 1.5rem;
            }
        }
    }
    .buttons{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        
        .btn1{
            padding: 0.75rem;
            background-color: #F71B25;
        }
        .btn2{
            padding: 0.75rem;
            background-color: #021D3E;
            border: 1px solid #FFFFFF;
        }
    }
    
}
@media (max-width: 965px){
    .container{
        padding: 2%;
        display: flex;
        justify-content: center;
    }
    .contains{
        width: 100%;
        text-align: center;
    }
    .buttons{
        justify-content: center;
    }
}
