.container{
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        margin: 2rem auto 4rem auto;
        @media screen and (min-width:707px) {
            grid-template-columns: repeat(3,1fr);
        }
        @media screen and (min-width:1086px) {
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;
        }

       
    }
}