.container{
    padding: 3rem 1rem;
    @media  screen and (min-width:641px) {
        padding: 3rem 2rem;
    }
    @media  screen and (min-width:961px) {
        padding: 3rem 6rem;
    }
    @media  screen and (min-width:1241px) {
        padding: 3rem 8rem;
    }

    .box{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        @media  screen and (min-width:570px) {
            grid-template-columns: repeat(3,1fr);
        }
        @media  screen and (min-width:1770px) {
            max-width: 70%;
            margin: 0 auto;
        }
    

        img{
            max-width: 100%;
            height: auto;
        }

    }
}