.container{
    
    &.hide{
        
        display: none;
        @media screen and (min-width:1086px) {
            display: block;
        }
    }
    .box{
        padding: 1rem;
        background-color: #EFEFEF;
        // max-width: 270px;

    
    }
    .image{
        padding: 28px; 
        background-color: #FFFF;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    h4{
        color: black;
        margin:0.5rem 0rem ;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        @media  screen and (min-width:584px) {
            font-size: 18px;
        }
        @media  screen and (min-width:1400px) {
            font-size: 23px;
        }

    }
    .detailsbtn{
        display: flex;
        justify-content: center; 
       

        button{
            font-size: 16px;
            margin-top: 0.5rem;
            background-color: #021D3E;
            padding: 0.5rem 1.5rem;
        }
    }
}