.container{
    // padding: 3rem 1rem;
    // @media  screen and (min-width:641px) {
    //     padding: 3rem 2rem;
    // }
    // @media  screen and (min-width:961px) {
    //     padding: 3rem 6rem;
    // }
    // @media  screen and (min-width:1241px) {
    //     padding: 3rem 8rem;
    // }

    margin: 3rem auto;
    .box{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media  screen and (min-width:961px) {
            flex-direction: row;
        }
        // border: 1px solid red;
    }
    .imagebox{
        border: 1px solid black;
        width: 100%;
        @media  screen and (min-width:961px) {
            width: 30%;
        }
        // max-height: 300px;
        // max-width: 300px;
        display: flex;
        justify-content: center;
        padding: 1rem;
        
        img{
            
            height: auto;
            width: 100%;
        }
        
    }
    .right{
        // width: 70%;
        @media  screen and (min-width:961px) {
            width: 70%;
        }

        h3{
            font-family: Poppins;
            font-size: 36px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0em;
            text-align: left;

        }
        p{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;

        }
    }
}