.container{
    background: url('/Productbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0rem;

    .cardcontainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        // gap: 1rem;
        @media  screen and (min-width:720px) {
            grid-template-columns: repeat(3,1fr);
        }
        @media  screen and (min-width:961px) {
            grid-template-columns: repeat(4,1fr);
        }
        

        .hideCard{
            display: none;
            @media  screen and (min-width:720px) {
                display: block;
            }
        }
        
        .hideCard2{
            display: block;
            @media  screen and (max-width:965px) {
                display: none;
            }
        }
    }
    h3{
        text-align: center;
        color: #fff;
        margin: 2rem 0rem;
    }
    .btncontainer{
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
    }
}   

