.container{
    
    padding: 2rem 0rem;
    p{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 300;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        margin: 1rem 0rem;

    }
}